<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>G-Time——分类</title>
    <link rel="stylesheet" href="{CSS_PATH}class.css">
    <link rel="stylesheet" href="{ICON_PATH}iconfont.css">
    <meta name="viewport" content="width=device-width">
    <script src="{JS_PATH}rem.js"></script>
</head>
<body>
<!-- 头部 -->
<div class="header">
    <a href="" class="fangdajing iconfont icon-fangdajing"></a>
    <div class="meilishuo">分类</div>
    <a href="../个人主页/index.html" class="message iconfont icon-asmkticon0129"></a>
</div>
<div id="head"></div>
<!-- 头部结束 -->
